.ce-conversion-toolbar {
  @apply --overlay-pane;

  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
  transition: transform 100ms ease, opacity 100ms ease;
  transform: translateY(-8px);
  left: -1px;
  width: 160px;
  margin-top: 5px;
  box-sizing: content-box;
  padding-bottom: 8px;
  border-radius: 4px;
  border: none;
  box-shadow: var(--boxShadow2);

  &--showed {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  [hidden] {
    display: none !important;
  }

  &__buttons {
    display: flex;
  }

  &__label {
    color: var(--gray6);
    font-size: 11px;
    line-height: 16px;
    padding: 12px 12px 4px 12px;
  }
}

.ce-conversion-tool {
  display: flex;
  padding: 4px 14.5px 4px 12px;
  font-size: 13px;
  line-height: 18px;
  color: var(--gray8);
  cursor: pointer;
  align-items: center;

  &--focused {
    &-animated {
      animation-name: buttonClicked;
      animation-duration: 250ms;
    }
  }

  &:hover {
    background: var(--gray2);
  }

  &:active {
    background: var(--gray1);
  }

  &__icon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 0.5px solid var(--gray3);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    background: #fff;

    svg {
      fill: var(--gray8);
    }
  }

  &__check-icon {
    display: flex;
    align-items: center;
    margin-left: auto;
    opacity: 0;
    width: 12px;
    height: 8px;
  }

  &--current {
    .ce-conversion-tool__check-icon {
      opacity: 1;

      svg {
        fill: var(--gray8);
      }
    }
    /* @apply --tool-icon; */
  }

  &--last {
    margin-right: 0 !important;
  }

  &--active {
    color: var(--blue5) !important;
  }

  &--active {
    animation: bounceIn 0.75s 1;
    animation-fill-mode: forwards;
  }
}
