.ce-inline-toolbar {
  --y-offset: 8px;

  @apply --overlay-pane;
  border-radius: 4px !important;
  border: none;
  box-shadow: var(--boxShadow2);
  transform: translateX(-50%) translateY(8px) scale(0.9);
  opacity: 0;
  visibility: hidden;
  transition: transform 150ms ease, opacity 250ms ease;
  will-change: transform, opacity;
  top: 0;
  left: 0;
  z-index: 3;

  &--showed {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%);
  }

  &--left-oriented {
    transform: translateX(-23px) translateY(8px) scale(0.94);
  }

  &--left-oriented&--showed {
    transform: translateX(-23px);
  }

  &--right-oriented {
    transform: translateX(-100%) translateY(8px) scale(0.94);
    margin-left: 23px;
  }

  &--right-oriented&--showed {
    transform: translateX(-100%);
  }

  [hidden] {
    display: none !important;
  }

  &__toggler-and-button-wrapper {
    display: flex;
    width: 100%;
  }

  &__buttons {
    display: flex;
  }

  &__actions {
    display: flex;

    .unlink-button {
      /* s of reset button */
      background: inherit;
      border: none;
      box-shadow: none;
      -webkit-tap-highlight-color: transparent;
      box-sizing: border-box;
      outline-style: none;

      &:focus {
        outline: 0;
      }
      /* e of reset button  */
      justify-content: end;
      font-weight: 400;
      font-size: 11px !important;
      line-height: 16px;
      color: var(--gray6);
      padding: 8px 10px 8px 0;
      cursor: pointer;
      white-space: nowrap;
      min-width: 60px;
    }

    input,
    .unlink-button {
      border-top: 1px solid var(--gray3);
    }
  }

  &__dropdown {
    display: inline-flex;
    padding: 0 10px;
    align-items: center;
    cursor: pointer;
    border-right: 1px solid var(--gray3);
    border-radius: 4px 0 0 4px;
    @media (--can-hover) {
    &:hover {
      background: var(--gray2);
    }}

    &:active {
      background: var(--gray1);
    }

    &--hidden {
      display: none;
    }

    &-content {
      display: flex;
      font-weight: 500;
      font-size: 14px !important;

    &-content,
    &-arrow {
      display: flex;
      svg {
        /* width: var(--icon-size);
        height: var(--icon-size); */
      }
    }
  }

  &__shortcut {
    opacity: 0.6;
    word-spacing: -3px;
    margin-top: 3px;
  }
}

.ce-inline-tool {
  @apply --toolbar-button;

  border-radius: 0;
  line-height: normal;
  width: auto;
  padding: 0 10px !important;
  min-width: 24px;

  .icon {
    height: 12px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }

  &:hover {
    background: var(--gray2);
  }

  &:active {
    background: var(--gray1);
  }

  &--link {
    .icon--unlink {
      display: none;
    }
  }

  &--unlink {
    .icon--link {
      display: none;
    }
    .icon--unlink {
      display: inline-block;
      margin-bottom: -1px;
    }
  }

  &-input {
    outline: none;
    border: 0;
    border-radius: 0 0 4px 4px;
    margin: 0;
    font-size: 11px !important;
    line-height: 16px;
    padding: 8px 5px 8px 10px;
    width: 100%;
    box-sizing: border-box;
    display: none;
    color: var(--gray9);

    &::placeholder {
      color: var(--gray5);
    }

    &--showed {
      display: block;
    }
  }
}
