.ce-settings {
  border: none;
  top: 34px;
  left: 51px;
  width: 220px;
  box-sizing: content-box;

  @media (--mobile) {
    bottom: 40px;
    right: auto;
    top: auto;
  }

  position: absolute;
  z-index: 2;
  --gap: 8px;

  @media (--not-mobile){
    position: absolute;
    top: calc(var(--toolbox-buttons-size) + var(--gap));
    /* @slid - in our product popups are positioned where editor starts */
    left: 44px;

    &--opened-top {
      top: calc(-1 * (var(--gap) + var(--popover-height)));
    }
  }

  &__button {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    &:hover {
      background-color: var(--gray2);
    }

    &:active {
      background-color: var(--gray1);
    }

    &-icon-container {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        fill: var(--gray6);
      }
    }

    &-text {
      font-size: 13px !important;
      line-height: 18px;
      color: var(--gray8);
      margin-left: 4px;
      white-space: nowrap;
    }

    &-shortcut-text {
      font-size: 11px !important;
      line-height: 16px;
      color: var(--gray5);
      margin-left: auto;
    }

    &--disabled {
      cursor: not-allowed !important;
      opacity: 0.3;
    }

    &--selected {
      color: var(--blue5);
    }
  }
}