.ce-settings {
  @apply --overlay-pane;
  border: none;
  top: 30px;
  left: 28px;
  width: 220px;
  box-sizing: content-box;

  @media (--mobile) {
    bottom: 40px;
    right: auto;
    top: auto;
  }

  &::before {
    left: auto;
    right: 12px;

    @media (--mobile) {
      bottom: -5px;
      top: auto;
    }
  }

  display: none;

  &--opened {
    display: block;
    animation-duration: 0.1s;
    animation-name: panelShowing;
  }

  &__plugin-zone {
    display: flex;
    flex-direction: column;

    &:not(:empty) {
      border-bottom: 1px solid var(--gray3);
      padding: 8px 0;
    }
  }

  &__default-zone {
    padding: 8px 0;
  }

  &__button {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    &:hover {
      background-color: var(--gray2);
    }

    &:active {
      background-color: var(--gray1);
    }

    &-icon-container {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        fill: var(--gray6);
      }
    }

    &-text {
      font-size: 13px;
      line-height: 18px;
      color: var(--gray8);
      margin-left: 4px;
      white-space: nowrap;
    }

    &-shortcut-text {
      font-size: 11px;
      line-height: 16px;
      color: var(--gray5);
      margin-left: auto;
    }

    &--disabled {
      cursor: not-allowed !important;
      opacity: 0.3;
    }

    &--selected {
      color: var(--blue5);
    }
  }
}
