@custom-media --mobile (width <= 200px);
@custom-media --not-mobile (width >= 201px);

:root {
  /* Slid-shadow */
  --boxShadow1: 0 2px 8px rgb(0, 0, 0, 0.1);
  --boxShadow2: 0 8px 24px rgb(0, 0, 0, 0.1);
  --boxShadow3: 0 12px 40px rgb(0, 0, 0, 0.1);

  /* Slid-color */

  --blue0: #e7f5ff;
  --blue1: #d0ebff;
  --blue2: #afd8fb;
  --blue3: #84bff7;
  --blue4: #64abf1;
  --blue5: #4593fc;
  --blue6: #3182f6;
  --blue7: #1b64da;
  --blue8: #1f58b2;
  --blue9: #1a4aa6;
  --gray0: #f8f9fa;
  --gray1: #f1f3f5;
  --gray2: #e9ecef;
  --gray3: #dee2e6;
  --gray4: #ced4da;
  --gray5: #adb5bd;
  --gray6: #868e96;
  --gray7: #495057;
  --gray8: #343a40;
  --gray9: #212529;
  --red_12: rgb(249, 61, 63, 0.12);
  --redCloudy: #d78582;
  --red: #f93d3f;
  --redDark: #cb0101;
  --orange_12: rgb(255, 99, 60, 0.12);
  --orangeCloudy: #ed8e6a;
  --orange: #ff633c;
  --orangeDark: #e94600;
  --yellow_12: rgb(255, 202, 60, 0.12);
  --yellowCloudy: #f9e079;
  --yellow: #ffca3c;
  --yellowDark: #ba6100;
  --green_12: rgb(14, 184, 122, 0.12);
  --greenCloudy: #67c1a0;
  --green: #0eb87a;
  --greenDark: #00796e;
  --purple_12: rgb(115, 84, 230, 0.12);
  --purpleCloudy: #8e82d7;
  --purple: #7354e6;
  --purpleDark: #4f3292;

  /**
   * Selection color
   */
  --selectionColor: #e1f2ff;
  --inlineSelectionColor: #d4ecff;

  /**
   * Toolbar buttons
   */
  --bg-light: #eff2f5;

  /**
   * All gray texts: placeholders, settings
   */
  --grayText: #707684;

  /**
   * Gray icons hover
   */
  --color-dark: #1d202b;

  /**
   * Blue icons
   */
  --color-active-icon: #388ae5;

  /**
   * Gray border, loaders
   */
  --color-gray-border: rgba(201, 201, 204, 0.48);

  /**
   * Block content width
   * Should be set in a constant at the modules/ui.js
   */
  --content-width: 650px;

  /**
   * In narrow mode, we increase right zone contained Block Actions button
   */
  --narrow-mode-right-padding: 50px;

  /**
   * Toolbar buttons height and width
   */
  --toolbar-buttons-size: 32px;

  /**
   * Toolbar Plus Button and Toolbox buttons height and width
   */
  --toolbox-buttons-size: 26px;
  --toolbox-buttons-size--mobile: 36px;

  /**
   * The main `.cdx-block` wrapper has such vertical paddings
   * And the Block Actions toggler too
   */
  --block-padding-vertical: 0.4em;

  /**
   * Confirm deletion bg
   */
  --color-confirm: #e24a4a;

  --overlay-pane: {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #e8e8eb;
    box-shadow: 0 3px 15px -3px rgba(13, 20, 33, 0.13);
    border-radius: 6px;
    z-index: 2;

    @media (--mobile) {
      box-shadow: 0 8px 6px -6px rgb(33 48 73 / 19%);
      border-bottom-color: #c7c7c7;
    }

    &--left-oriented {
      &::before {
        left: 15px;
        margin-left: 0;
      }
    }

    &--right-oriented {
      &::before {
        left: auto;
        right: 15px;
        margin-left: 0;
      }
    }
  }

  /**
   * Styles for Toolbox Buttons and Plus Button
   */
  --toolbox-button: {
    color: var(--color-dark);
    cursor: pointer;
    width: var(--toolbox-buttons-size);
    height: var(--toolbox-buttons-size);
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @media (--mobile) {
      width: var(--toolbox-buttons-size--mobile);
      height: var(--toolbox-buttons-size--mobile);
    }

    &:hover,
    &--active {
      background-color: var(--bg-light);
    }

    &--active {
      animation: bounceIn 0.75s 1;
      animation-fill-mode: forwards;
    }
  }

  /**
   * Styles for Settings Button in Toolbar
   */
  --toolbar-button: {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    padding: 0 !important;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: transparent;
    vertical-align: bottom;
    color: #000;
    margin: 0;

    &:hover {
      background-color: var(--bg-light);
    }

    &--active {
      color: var(--color-active-icon);
    }

    &--focused {
      box-shadow: inset 0 0 0px 1px rgba(7, 161, 227, 0.08);
      background: rgba(34, 186, 255, 0.08) !important;

      &-animated {
        animation-name: buttonClicked;
        animation-duration: 250ms;
      }
    }
  }
}
